<div class="component-label">ARTICLE-LIST.COMPONENT</div>
<mat-nav-list role="navigation">
    <mat-card class="spacing">
        <mat-card-subtitle>
            <span>Count (ALL Articles): {{articlesCount}}</span>
            <span
                fxFlex
                fxLayout
                fxLayoutAlign="flex-end">

<!-- Sadly, these both don't work!
>> href="./articles/list/#{{latestArticleAnchorId}}"
>> href="/articles/list/#{{latestArticleAnchorId}}"
I don't know why, seeing that this does work:
>> href="./#{{latestArticleAnchorId}}"  Hmm.
>> href="/#{{latestArticleAnchorId}}" << this does too, fwiw


O well.
So, as an alternative, --  despite inconsistent UX :o(  --  we resort, on
the ArticlesListPage, to a simple link to the URL for the latest article,
 as a full page ArticleComponent, rather than jump
 to #anchor at bottom of list (which is the nicer UX on the WelcomePage).
 Too bad.
-->
<!-- NO.
                <a
                        href="/articles/list/#{{latestArticleAnchorId}}"
                >
                    Latest: {{latestArticleDate | date}}
                </a>
-->
                <!-- YES.  ArticleListComponent on ARTICLE LIST PAGE
                Comes in via router-outlet (off the ArticlesComponent template)
                Logic parameter comes in via Router  NavigationExtras .data{articleListOnArticlesListPage}

                Can use routerLink okay because not using any # anchor. (sadly)
                Note: routerLink of course avoids browser refresh in page navigation. Good.
                -->
<!--  !!! IX-NAY TO PAGESCROLL PIECE OF CRAP DIRECTIVE
                <a
                        *ngIf="articleListOnArticlesListPage"
                        pageScroll
                        [routerLink]="['/articles/list']" href="#{{latestArticleAnchorId}}"
                >
                    Latest: {{latestArticleDate | date}} (02 LIST)
                </a>
-->
                <!--
(above)
NO. Nothing doing with "pageScroll" CRap.
                        pageScroll
                        [routerLink]="['/articles/list']" href="#{{latestArticleAnchorId}}"
-->

<!--  ****** ARTICLES LIST PAGE  (01 LIST) ******** -->
<!-- This "latest" anchor link USED TO BE helpful, but no more.
We USED TO use the "natural" sort of the database, putting the NEWEST item at BOTTOM of list.
But NOW we do the reverse. Newest is on TOP (makes sense). No Need for anchor jump link any more.
cheers.
<a
        *ngIf="articleListOnArticlesListPage"
        routerLink="/articles/{{latestArticleAnchorId}}">
    Articles List Latest: {{latestArticleDate | date}}
&lt;!&ndash; | date gets:   May 13 2018 &ndash;&gt;
</a>
-->
                <!-- N.B. Not really "anchor" --
                Here above we navigate to route with
                full URL including Article ID,
                not an "anchor" # URL fragment using Article ID.
                cheers.
                -->

<!-- YES works but routerLink is better than href
<a

        href="./articles/{{latestArticleAnchorId}}">
    Latest: {{latestArticleDate | date}}
</a>
-->
                <!--   YES.  ArticleListComponent on WELCOME PAGE
                Comes in via <app-article-list> placed in WelcomeComponent template.
                Logic parameter comes in via @Input(articleListOnWelcomePage)

                Uses href, not routerLink. The latter was NOT working with # anchor links (sadly)
                Note, this use of href, on same page & url, does NOT cause browser refresh of page. Good.
                -->
<!--  !!! IX-NAY TO PAGESCROLL PIECE OF CRAP DIRECTIVE
                <a
                        *ngIf="articleListOnWelcomePage"
                        pageScroll
                        [routerLink]="[]" [fragment]="latestArticleAnchorId"
                >
                    Latest: {{latestArticleDate | date}} (02 WELCOME)
                </a>
-->
                <!--
                (above)
                Yes, but, "href"? (icky)
                        pageScroll
                        href="#{{latestArticleAnchorId}}">
NO. None of this worked. CRap.
                        pageScroll
                        [routerLink]="['/']" href="#{{latestArticleAnchorId}}"

                        ALSO NO.
                        pageScroll
                        [routerLink]="[]" [fragment]="latestArticleAnchorId"
                        MORE CRAP
https://github.com/Nolanus/ngx-page-scroll/issues/403
                -->
                <!--  ****** WELCOME  (01 WELCOME) ******** -->
                <!-- This "latest" anchor link USED TO BE helpful, but no more.
                We USED TO use the "natural" sort of the database, putting the NEWEST item at BOTTOM of list.
                But NOW we do the reverse. Newest is on TOP (makes sense). No Need for anchor jump link any more.
                cheers.
                                <a
                                        *ngIf="articleListOnWelcomePage"
                                        href="./#fake-bottom-id">
                                   Welcome Latest: {{latestArticleDate | date}}
                                </a>
-->
                <!-- WORKED LOVELY BUT ... see explanation way below at "fake-bottom-id"

                                        href="./#{{latestArticleAnchorId}}">
                -->

<!-- YES Worked, if imperfectly, for /    FAILED for /articles/list
So that has driven the need (above) for *ngIf conditional. Yowza. -->
<!--
                <a
                        href="./#{{latestArticleAnchorId}}">
                    Latest: {{latestArticleDate | date}}
                </a>
-->

            </span>
            <!-- TRIED. FAILED. SIGH.
                            <a bind-routerLink="['.']" bind-fragment="latestArticleAnchorId">Latest: {{latestArticleDate | date}}</a>
            -->

            <!-- https://www.geekstrick.com/fragment-url-in-angular-8/
            [routerLink]="['.']" << hmm
            [routerLink]='"."'   << hmm aussi
            "['./']" << hmm encore une fois

            One Note:   yeah, gotta bind-routerLink, seems.
            With [routerLink]="" or bind-routerLink="" << all right
            Without that: error  routerLink="" << error
            : Error: Cannot match any routes. URL Segment: 'articles/list/%5B'./'%5D'
Error: Cannot match any routes. URL Segment: 'articles/list/%5B'./'%5D'
            -->
        </mat-card-subtitle>
<!-- (above)
            place-content: stretch flex-end;
    align-content: stretch;
    justify-content: flex-end;
Above use of "flex-end" similar to in HeaderComponent. cheers.


        <mat-card-content><span>Count: {{articles.length}}</span> -&#45;&#45; <span fxLayoutAlign="flex-end">Latest: {{latestArticleDate | date}}</span></mat-card-content>
-->

        <!-- FILTER by CATEGORY Time !
        TODONE: Dynamically generate these buttons from list of Categories
        TODONE: N/A NOW: Fix now broken "Latest" #goto. (Only works for one Category! sigh.) (Welcome page. Works OK from Articles List page. cheers.)
        TODONE: For 0 - provide "No articles in that category" message.
        TODO: (Mebbe) Provide # of items in given Category, right on the button - y not  e.g.  Politics (12)
        TODONE: Also, update "Count" at top of this Component to match the selected Category count (e.g. Count: 12)
        TODONE: N/A NOW: Hmm, can I also get the "Latest" to reflect date of latest addition in this selected Category? Tlicky.
        -->
        <mat-card-content>
            <div>
<!--                <h2>Category: {{articlesInCategoryWhichCategory}}</h2>-->
                <h2>{{articlesInCategoryWhichCategory}}</h2>
            </div>
            <span
                    *ngFor="let oneCategory of categories"
            >
                <!-- Doing span wrapper, just to get in that "pipe" | separator. woot. -->
                <button
                        mat-raised-button
                        color="{{oneCategory.viewValue === articlesInCategoryWhichCategory ? 'accent' : 'primary'}}"
                        type="button"
                        on-click="letUsFilterByCategory(oneCategory.viewValue)"
                >
                    {{ oneCategory.viewValue }}
                </button> |
            </span>
            <!-- Couple of necessary exception-case manual entries: -->
            <button
                    mat-raised-button
                    color="{{articlesInCategoryWhichCategory === 'No Category Assigned' ? 'accent' : ''}}"
                    type="button"
                    on-click="letUsFilterByCategory('No Category (thx Service!)')"
            >
                No Category Assigned
            </button>
            |
            <button
                    mat-raised-button
                    color="{{articlesInCategoryWhichCategory === 'All Articles' ? 'accent' : ''}}"
                    type="button"
                    on-click="letUsFilterByCategory('ALL')"
            >
                <i>All Articles</i>
            </button>

            <!-- Bad Old Manual Entries: pah!
                        <button
                                mat-raised-button
                                type="button"
                                on-click="letUsFilterByCategory('News')"
                        >
                            News
                        </button>
                        |
                        <button
                                mat-raised-button
                                type="button"
                                on-click="letUsFilterByCategory('World')"
                        >
                            World
                        </button>
                        |
                        <button
                                mat-raised-button
                                type="button"
                                on-click="letUsFilterByCategory('U.S.')"
                        >
                            U.S.
                        </button>
                        |
                        <button
                                mat-raised-button
                                type="button"
                                on-click="letUsFilterByCategory('Politics')"
                        >
                            Politics
                        </button>
                        |
                        <button
                                mat-raised-button
                                type="button"
                                on-click="letUsFilterByCategory('Opinion')"
                        >
                            Opinion
                        </button>
                        |
                        <button
                                mat-raised-button
                                type="button"
                                on-click="letUsFilterByCategory('Business')"
                        >
                            Business
                        </button>
                        |
                        <button
                                mat-raised-button
                                type="button"
                                on-click="letUsFilterByCategory('Arts')"
                        >
                            Arts
                        </button>
                        |
                        <button
                                mat-raised-button
                                type="button"
                                on-click="letUsFilterByCategory('Living')"
                        >
                            Living
                        </button>
                        |
            -->

        </mat-card-content>

    </mat-card>

    <app-paginator
            bind-topOrBottom="'top'"

            bind-currentPageNumberInputName="updateCurrentPageNumber"
            bind-pageSizeInputName="updatePageSize"
            bind-articlesCountInputName="updateArticlesCount"

            bind-rangeAroundInputName="RANGE_AROUND"

            on-paginationGetNextPageArticlesEvent="getArticlesPaginated(
            $event.pageNumberOutput,
            $event.pageSizeOutput
            )"
    ></app-paginator>

    <div
            *ngIf="noArticlesInCategory"
    >
        <div>
            No articles in the "{{ noArticlesInCategoryWhichCategory }}" category. Consider adding one!
        </div>
    </div>

    <app-article
            mat-list-item
            *ngFor="let article of articlesToDisplay"
            [articleToSendDownName]="article"
    ></app-article>
    <!-- WAS *NOT* WORKING. See above instead.
            <mat-list-item
                    *ngFor="let article of articles"
            >
                <app-article
                        [articleToSendDownName]="article"
                ></app-article>
            </mat-list-item>
    -->
    <!--
        "You can add mat-list-item as the directive to your app-car-item component..."
        https://stackoverflow.com/questions/58477720/how-to-use-in-angular-material-list-an-item-component

        As for WebStorm not recognizing mat-list-item as directive on my app-article, I simply "added as custom "HTML" attribute" (right-click). Warning goes away. Seems all totally benign, & Etc. Oi!
>>  WebStorm Preferences | Editor | Inspections | HTML | Unknown HTML tag attribute
        -->

    <app-paginator
            bind-topOrBottom="'bottom'"

            bind-currentPageNumberInputName="updateCurrentPageNumber"
            bind-pageSizeInputName="updatePageSize"
            bind-articlesCountInputName="updateArticlesCount"

            bind-rangeAroundInputName="RANGE_AROUND"

            on-paginationGetNextPageArticlesEvent="getArticlesPaginated(
            $event.pageNumberOutput,
            $event.pageSizeOutput
            )"

            on-rangeAroundChangedPaginatorBottomEvent="updateRangeAroundToTopPaginator(
            $event.rangeAroundOutput
            )"
    ></app-paginator>


    <div
            id="fake-bottom-id-article-list"
    >
        <!--
        URL: http://0.0.0.0:4200/#fake-bottom-id

        Bit of cheat.
        Instead of (properly) anchor link jumping to
        the _id of the "latest" item (most recently added),
        (which was working fine, when ALL were always shown) ...
        But now we have problem with filtering by Category. Read on:

        So now with introducing this dummy/empty div and an "at the bottom" id,
        we will always jump to very bottom, regardless
        of which Category is selected. Muy bien.

        (For you see, the "latest" item _id jump would only
        work when the selected Category *included* that latest item!
        Like, 'Politics' yes, the rest of them, no.
        The other Categories just wouldn't have it displayed. No jump.)
        cheers.

        TODONE: N/A NOW: (minor) The "Latest" *DATE* is wrong. sigh. (from Welcome Page that is. from Articles List page, it's okay)
        For the one Category (e.g. 'Politics') that actually HAS the Latest, the date tells the correct story.
        But for all others, the "cheat" jump to bottom of page brings you to whatever is
        "latest" *for that Category*  (which is okay), BUT, the *DATE* on that
        "latest-in-Category" may or MAY NOT match that "Latest overall" date. sheesh.
        Q. Rank of priority of caring about this?
        A. Not Very (bloody) High.
        -->
    </div>

</mat-nav-list>
