/* You can add global styles to this file, and also import other style files */

/* Hey! Really important!
Please put this Angular Material Design
import stuff
 ***  FIRST  ***
Thank you.

Also:
IMPORTANT!
Yes, DO import this here in /styles.css

It was NOT working to simply rely on
../angular.json "options", under "serve"
*/

/*
We have OPTED to NOT choose any pre-built.
See "Light Theme" in /src/app/styles/material-theme.scss
instead ...
*/

/* DARK, BLACK BG ********* */
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

// @import "~@angular/material/prebuilt-themes/purple-green.css";

/* LIGHT, WHITE BG ******** */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// For Dynamic Change of Theme
@import "./app/styles/material-theme.scss";

html, body {
  // height: 100%; // hmm. re: welcome.component.html
}

/*
.component-label {
  font-size: 10px;
   // xx-small; << still too large! ( ? )
}
*/
/* Below to use for HIDING these... */
/*
https://gist.github.com/jareware/4738651

See also all this complexity:
https://medium.com/@amcdnl/theming-angular-with-css-variables-3c78a5b20b24   O la!
 */
$wr__hide: true;
//$wr__hide: false; // don't hide. Show!
// Q. How to programmatically change above ?? ?? o well...

.component-label {
  font-size: 10px;
  @if($wr__hide) {
    display: none;
  }
}

// No longer used:
.component-label-hide {
  font-size: 10px;
  display: none;
}


a {
  color: #00B7FF;
  text-decoration: none;
}

a.my-active {
  /* color: red; */
  color: blue;
  font-weight: bolder;
  //text-decoration: underline;
  //text-decoration-line: overline underline;
  text-decoration-style: solid;
}

.tiny {
  font-size: 11px;
  // font-size: xx-small;
}
