/* You can add global styles to this file, and also import other style files */

/* Hey! Really important!
Please put this Angular Material Design
import stuff
 ***  FIRST  ***
Thank you.

Also:
IMPORTANT!
Yes, DO import this here in /styles.css

It was NOT working to simply rely on
../angular.json "options", under "serve"
*/

/*
We have OPTED to NOT choose any pre-built.
See "Light Theme" in /src/app/styles/material-theme.scss
instead ...
*/

/* DARK, BLACK BG ********* */
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

// @import "~@angular/material/prebuilt-themes/purple-green.css";

/* LIGHT, WHITE BG ******** */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// For Dynamic Change of Theme
@import "./app/styles/material-theme.scss";

html, body {
  // height: 100%; // hmm. re: welcome.component.html
}

/*
.component-label {
  font-size: 10px;
   // xx-small; << still too large! ( ? )
}
*/
/* Below to use for HIDING these... */
/*
https://gist.github.com/jareware/4738651

See also all this complexity:
https://medium.com/@amcdnl/theming-angular-with-css-variables-3c78a5b20b24   O la!
 */

// ***********  FROM TYPESCRIPT, DYNAMICALLY CHANGE *RESULTANT CSS* VARIABLE  *********************
/*
That is, NO, we do not, can not, change this *SCSS* Variable. No.
But we can and do change the resultant, post-processed *CSS* Variable, using
plain old web standard CSS Custom Properties var() function.
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#Values_in_JavaScript
https://medium.com/angular-in-depth/build-truly-dynamic-theme-with-css-variables-539516e95837
 */

$wr__hide-show-scss-var: var(--wr__hide-show-css-var);

.component-label {
  font-size: 10px;
  font-weight: bold;
  display: $wr__hide-show-scss-var;
}

//$wr__hide: true; // yeah, Hide those (ugly though useful!) Component labels...
$wr__hide: false; // don't hide. Show!
// Q. How to programmatically change above ?? ?? o well...

.component-label-using-wr-hide { // worked fine, albeit via manual edit of this .scss file
  font-size: 10px;
  @if($wr__hide) {
    display: none;
  }
}

// No longer used:
.component-label-hide {
  font-size: 10px;
  display: none;
}


a {
  color: #00B7FF;
  text-decoration: none;
}

a.my-active {
  /* color: red; */
  color: blue;
  font-weight: bolder;
  //text-decoration: underline;
  //text-decoration-line: overline underline;
  text-decoration-style: solid;
}

.tiny {
  font-size: 11px;
  // font-size: xx-small;
}

.teeny {
  font-size: 9px;
}

a[ng-reflect-router-link] {

}
/* Used in ArticleList, ArticlesCategorized.

color: blue !important; was needed because
mat-nav-list a  has  color:inherit (was black)

Hah! but that "!important" in turn messes up my Header links,
which were happily aqua. Hmm. Revert time.

font-weight: bold; // << seems not necessary

https://stackoverflow.com/questions/52000277/angular-how-to-style-routerlink/52001698
https://stackblitz.com/edit/angular-lfts4r?file=src%2Fstyles.css
 */

.blue-link {
  color: blue !important;
}
