# See http://help.github.com/ignore-files/ for more about ignoring files.

# 2020-06-11
# $ pwd
# /Users/william.reilly/dev/JavaScript/CSCI-E31/Assignments/07-e31-combo-2020
# $ cp ../07-final-CODE-CLEAN-UP/.gitignore .

# This App-Specific:
server/public/img

# 2020-06-11 NOTE:
# (I believe) I/we never did in 2018 do this "double negative" biz. (see 2018 note below)
# (I believe) I never did in 2018 use GIT to push the Angular /dist to Digital Ocean
# My intent now in 2020 is to NOT use Git but instead ssh and scp the Angular /dist to D.O. or AWS
# SO: Yes, leave these lines below INTACT, NOT Commented Out
# That is, I DO wish to keep /dist and /client/dist *OUT* of Git. Thank you.
# 2018 Notes:
# compiled output
# N.B. For "Combo" use when deployed to Production
# (Digital Ocean) (D.O.), we will *Comment Out* '/dist', 
# so that it is *NOT* ignored, so that it *IS* included in Git repo.
# Think "double negative". Cheers
/client/dist
/dist
/dist-server

/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# ############################
# .gitignore from Express Generator

# Also:
nohup.out
# Emacs auto-save, auto-backup stuff:
*~
\#*#
.DS_Store

# 2020-06-11. Good: Node Server ".env" is kept OUT of Git. (since 2018. bueno)
.env
# 2020-06-11. Let's today (2020) emulate that for the Angular Client /environments too, n'est-ce pas?
# /client/src/app/environments << actual location, but covered off by just environments/, e crois
# Q. Which one of these four? Yeesh.
# A. https://www.pluralsight.com/guides/how-to-use-gitignore-file
# environments
# /environments
environments/
# /environments/


# WebStorm stuff:
.idea
# ALM Typescript editor:
.alm

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log
