<div class="component-label">ARTICLES-CATEGORIZED.COMPONENT</div>
<mat-nav-list role="navigation">
    <mat-card class="spacing">
        <!-- TOP CATEGORY BUTTONS ROW -->
        <mat-card-subtitle>
            <span>Count (ALL Articles): {{ articlesCountAllInCollection }}</span>
            |
            <span>Showing: Articles: 1 - {{ articlesShownNumber }}</span>
        </mat-card-subtitle>
        <mat-card-content>
            <div>
                <h1>{{ articlesInCategoryWhichCategory }} <span class="tiny">Count: {{ articlesCount }}</span></h1>
            </div>
            <span
                    *ngFor="let oneCategory of categories"
            >
                <button
                        mat-raised-button
                        color="{{ oneCategory.viewValue === articlesInCategoryWhichCategory ? 'accent' : 'primary' }}"
                        type="button"
                        class="my-smaller-button"
                        on-click="letUsFilterByCategory(oneCategory.viewValue)"
                >
                    {{ oneCategory.viewValue }}
                </button> |
            </span>
            <!-- Couple of necessary exception-case manual entries: -->
            <button
                    mat-raised-button
                    color="{{articlesInCategoryWhichCategory === 'No Category Assigned' ? 'accent' : ''}}"
                    type="button"
                    class="my-smaller-button"
                    on-click="letUsFilterByCategory('No Category (thx Service!)')"
            >
                No Category Assigned
            </button>
            <!-- re: above
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
const NO_CATEGORY         = 'No Category (thx Service!)';
const NO_CORRECT_CATEGORY = 'No Correct Category (thx Service!)';
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
            -->
            |
            <button
                    mat-raised-button
                    color="{{articlesInCategoryWhichCategory === 'ALL Articles' ? 'accent' : ''}}"
                    type="button"
                    class="my-smaller-button"
                    on-click="letUsFilterByCategory('ALL')"
            >
                <i>All Categories</i>
            </button>
            |
            <button
                    mat-raised-button
                    color="warn"
                    type="button"
                    class="my-smaller-button"
                    on-click="getArticlesLoadMore(offsetNumber)"
                    bind-disabled="loadNoMore"
            >
                <strong> >> Load More << </strong>
            </button>
        </mat-card-content>
    </mat-card>

    <div
            *ngIf="noArticlesInCategory"
            style="margin: 15px 0px 15px 15px;"
    >
        No articles in the "{{noArticlesInCategoryWhichCategory}}" category. Consider <a routerLink="../add" class="blue-link">adding</a> one!
    </div>

    <!-- TODO mat-progress-spinner -->
    <mat-progress-spinner
            *ngIf="myUIIsLoadingStore$ | async"
            mode="indeterminate"
            bind-diameter="20"
    >
    </mat-progress-spinner>
    <!-- Ok. works. let's see if we can make it an overlay. (whoa)
    https://stackoverflow.com/questions/42963444/angular-2-material-progress-spinner-display-as-overlay
    https://stackblitz.com/edit/overlay-progress-spinner-8o275a?file=app%2Foverlay%2Foverlay.service.ts
    -->


    <app-article
            mat-list-item
            *ngFor="let article of articlesToDisplay"
            bind-articleToSendDownName="article"
    ></app-article>
    <!--
        "You can add mat-list-item as the directive to your app-car-item component..."
        https://stackoverflow.com/questions/58477720/how-to-use-in-angular-material-list-an-item-component
        -->
    <mat-card class="spacing"
              *ngIf="articlesCount > 3"
    >
        <!-- BOTTOM CATEGORY BUTTONS ROW
        Magic number of '3' (kinda arbitrary) -
        Only show bottom repeat buttons row
         if there are 4 or more Articles in this Category...
        -->
        <mat-card-subtitle>
            <span>Count (ALL Articles): {{ articlesCountAllInCollection }}</span>
            |
            <span>Showing: Articles: 1 - {{ articlesShownNumber }}</span>
        </mat-card-subtitle>
        <mat-card-content>
            <div>
                <h2>{{ articlesInCategoryWhichCategory }} <span class="tiny">Count: {{ articlesCount }}</span></h2>
            </div>
            <span
                    *ngFor="let oneCategory of categories"
            >
                <button
                        mat-raised-button
                        color="{{ oneCategory.viewValue === articlesInCategoryWhichCategory ? 'accent' : 'primary' }}"
                        type="button"
                        class="my-smaller-button"
                        on-click="letUsFilterByCategory(oneCategory.viewValue)"
                >
                    {{ oneCategory.viewValue }}
                </button> |
            </span>
            <!-- Couple of necessary exception-case manual entries: -->
            <button
                    mat-raised-button
                    color="{{articlesInCategoryWhichCategory === 'No Category Assigned' ? 'accent' : ''}}"
                    type="button"
                    class="my-smaller-button"
                    on-click="letUsFilterByCategory('No Category (thx Service!)')"
            >
                No Category Assigned
            </button>
            <!-- re: above
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
const NO_CATEGORY         = 'No Category (thx Service!)';
const NO_CORRECT_CATEGORY = 'No Correct Category (thx Service!)';
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
            -->
            |
            <button
                    mat-raised-button
                    color="{{articlesInCategoryWhichCategory === 'ALL Articles' ? 'accent' : ''}}"
                    type="button"
                    class="my-smaller-button"
                    on-click="letUsFilterByCategory('ALL')"
            >
                <i>All Categories</i>
            </button>
            |
            <button
                    mat-raised-button
                    color="warn"
                    type="button"
                    class="my-smaller-button"
                    on-click="getArticlesLoadMore(offsetNumber)"
                    bind-disabled="loadNoMore"
            >
                <strong> >> Load More << </strong>
            </button>
        </mat-card-content>
    </mat-card>

</mat-nav-list>
