<div class="component-label">ARTICLES-CATEGORIZED-TWO.COMPONENT</div>
<mat-nav-list role="navigation">
    <!-- CATEGORIZER "TOP" -->
    <app-categorizer-two
            bind-topOrBottomInputName="'top'"

            bind-articlesCountInputName="updateArticlesCount"

            bind-offsetNumberInputName="updateOffsetNumber"

            bind-articlesCountAllInCollectionInputName="updateArticlesCountAllInCollection"

            bind-articlesInputName="articles"

            bind-noArticlesInCategoryInputName="updateNoArticlesInCategory"

            bind-noArticlesInCategoryWhichCategoryInputName="updateNoArticlesInCategoryWhichCategory"

            bind-articlesInCategoryWhichCategoryInputName="updateArticlesInCategoryWhichCategory"

            bind-loadNoMoreInputName="loadNoMoreForChild"

            on-categorizerGetArticlesLoadMoreEvent="getArticlesLoadMore(
            $event.offsetNumberOutput
            )"

            on-categoryViewValueSelectedOutputEvent="assignCategoryViewValueFromCategorizer(
            $event.categoryViewValueOutput
            )"
    ></app-categorizer-two>

    <!-- YA HAD IT ALL WRRROOONNNGGG!
    Missing "bind-" !!

    Couple more notes on SYNTAX.
    I don't remember exactly what those durned '{{ }}' interpolating double-braces are called, or exactly what they do/don't-do.

    But here is how they work/don't-work:
    1. bind-articlesCountInputName="{{articlesCount}}" // << NO. bind- with "{{}}" = No.
    2. bind-articlesCountInputName="articlesCount" // << YES. bind- with "" = Yes.
    3. articlesCountInputName="{{articlesCount}}" // << OK. (no bind-) with "{{}}" = OK
    4. articlesCountInputName="articlesCount" // << NO. (non bind-) with "" = No.

    Notes:
    1. IDE complains. Error.
    2. Hopefully our FIX/ANSWER!
    3. "OK" means: No IDE complaint. But, doesn't really work. No binding. One-time (?) property value assignment, right ? Useless.
    4. "No" means: No IDE complaint. But, that "articlesCount" is merely a (meaningless) string. Nuttin' doin'.
    -->

    <app-article
            mat-list-item
            *ngFor="let article of articlesToDisplay"
            bind-articleToSendDownName="article"
    ></app-article>

    <!-- CATEGORIZER "BOTTOM" -->
    <app-categorizer-two
            bind-topOrBottomInputName="'bottom'"

            bind-articlesCountInputName="updateArticlesCount"

            bind-offsetNumberInputName="updateOffsetNumber"

            bind-articlesCountAllInCollectionInputName="updateArticlesCountAllInCollection"

            bind-articlesInputName="articles"

            bind-noArticlesInCategoryInputName="updateNoArticlesInCategory"

            bind-noArticlesInCategoryWhichCategoryInputName="updateNoArticlesInCategoryWhichCategory"

            bind-articlesInCategoryWhichCategoryInputName="updateArticlesInCategoryWhichCategory"

            bind-loadNoMoreInputName="loadNoMoreForChild"

            on-categorizerGetArticlesLoadMoreEvent="getArticlesLoadMore(
            $event.offsetNumberOutput
            )"

            on-categoryViewValueSelectedOutputEvent="assignCategoryViewValueFromCategorizer(
            $event.categoryViewValueOutput
            )"

    ></app-categorizer-two>
    <!-- /CATEGORIZER "BOTTOM" -->

</mat-nav-list>
