<div class="component-label">ARTICLES-CATEGORIZED-TWO.COMPONENT</div>
<!--  INITIAL SNAPSHOT COPY MADE 19/SEP/20. TODAY 22/SEP/20.  -->
<mat-nav-list role="navigation">
    <app-categorizer
            bind-articlesCountInputName="updateArticlesCount"
            bind-offsetPageSizeInputName="updateOffsetPageSize"
            bind-offsetNumberInputName="updateOffsetNumber"


            bind-articlesCountAllInCollectionInputName="updateArticlesCountAllInCollection"

            bind-articlesRetrievedNumberInputName="updateArticlesRetrievedNumber"

            bind-articlesInputName="articles"

            bind-noArticlesInCategoryInputName="updateNoArticlesInCategory"

            on-categorizerGetArticlesLoadMoreEvent="getArticlesLoadMore(
            $event.offsetNumberOutput,
            $event.filterIsOnParam,
            $event.filterCategory
            )"

            on-articlesToDisplayOutputEvent="assignArticlesToDisplayFromCategorizer(
            $event.articlesToDisplayOutputArray
            )"
    ></app-categorizer>
    <!-- O la - not using I hope: *ngIf="categorizerReadyToShow"
    -->
    <!--    Hopefully (?) not going to use? we'll see.
        NAH WE Ain'tL       bind-articlesCountAllInCollectionInitialInputName="initialArticlesCountAllInCollection"
    -->
    <!-- bind-offsetPageSizeInputName="updateOffsetPageSize"
    // << I (believe?) this is constant as it were. Always 20. Hmm.
    -->
    <!-- YA HAD IT ALL WRRROOONNNGGG!
    Missing "bind-" !!

    Couple more notes on SYNTAX.
    I don't remember exactly what those durned '{{ }}' interpolating double-braces are called, or exactly what they do/don't-do.

    But here is how they work/don't-work:
    1. bind-articlesCountInputName="{{articlesCount}}" // << NO. bind- with "{{}}" = No.
    2. bind-articlesCountInputName="articlesCount" // << YES. bind- with "" = Yes.
    3. articlesCountInputName="{{articlesCount}}" // << OK. (no bind-) with "{{}}" = OK
    4. articlesCountInputName="articlesCount" // << NO. (non bind-) with "" = No.

    Notes:
    1. IDE complains. Error.
    2. Hopefully our FIX/ANSWER!
    3. "OK" means: No IDE complaint. But, doesn't really work. No binding. One-time (?) property value assignment, right ? Useless.
    4. "No" means: No IDE complaint. But, that "articlesCount" is merely a (meaningless) string. Nuttin' doin'.


    WRRROOONNNGGG:
        <app-categorizer
                *ngIf="categorizerReadyToShow"
                articlesCountInputName="{{articlesCount}}"
                offsetPageSizeInputName="{{offsetPageSize}}"
                articlesCountAllInCollectionInputName="{{articlesCountAllInCollection}}"
                articlesRetrievedNumberInputName="{{articlesRetrievedNumber}}"

                articlesInputName="{{articles}}"

                on-categorizerGetArticlesLoadMoreEvent="getArticlesLoadMore(
                $event.offsetNumberOutput, true
                )"
        ></app-categorizer>
    -->
    <mat-card class="spacing">
        <!-- TOP CATEGORY BUTTONS ROW -->
        <mat-card-subtitle>
            <span>Count (All Articles): {{ articlesCountAllInCollection }}</span>
            |
            <span>Retrieved: Articles 1 - {{ articlesRetrievedNumber }}</span>
        </mat-card-subtitle>
        <mat-card-content>
            <div>
                <h1>{{ articlesInCategoryWhichCategory }} <span class="tiny">Category count: {{ articlesCount }}</span></h1>
            </div>
            <span
                    *ngFor="let oneCategory of categories"
            >
                <!-- span wrapper allows that following '|' to be part of each displayed bit  -->
                <button
                        mat-raised-button
                        color="{{ oneCategory.viewValue === articlesInCategoryWhichCategory ? 'accent' : 'primary' }}"

                        style="{{ oneCategory.viewValue === articlesInCategoryWhichCategory ? 'cursor: none;' : 'cursor: pointer' }}"
                        type="button"
                        class="my-smaller-button"
                        on-click="letUsFilterByCategory(oneCategory.viewValue)"
                >

                    {{ oneCategory.viewValue }}
                </button> |
            </span>
            <!-- Couple of necessary exception-case manual entries: -->
            <button
                    mat-raised-button
                    color="{{articlesInCategoryWhichCategory === 'No Category Assigned' ? 'accent' : ''}}"
                    type="button"
                    class="my-smaller-button"
                    on-click="letUsFilterByCategory('No Category (thx Service!)')"
            >
                No Category Assigned
            </button>
            <!-- re: above
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
const NO_CATEGORY         = 'No Category (thx Service!)';
const NO_CORRECT_CATEGORY = 'No Correct Category (thx Service!)';
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
            -->
            |
            <button
                    mat-raised-button
                    color="{{articlesInCategoryWhichCategory === 'All Categories' ? 'accent' : ''}}"
                    type="button"
                    class="my-smaller-button"
                    on-click="letUsFilterByCategory('ALL')"
            >
                <i>All Categories</i>
            </button>
            |
            <button
                    mat-raised-button
                    color="warn"
                    type="button"
                    class="my-smaller-button"
                    on-click="getArticlesLoadMore(offsetNumber, true, 'COMPONENT_OVERRIDE')"
                    bind-disabled="loadNoMore"
            >
                <strong> >> Load More << </strong>
            </button>
        </mat-card-content>
    </mat-card>

    <div
            *ngIf="noArticlesInCategory"
            style="margin: 15px 0px 15px 15px;"
    >
        No articles in the "{{noArticlesInCategoryWhichCategory}}" category. Consider <a routerLink="../add" class="blue-link">adding</a> one!
    </div>

    <!-- TODO mat-progress-spinner -->
    <mat-progress-spinner
            *ngIf="myUIIsLoadingStore$ | async"
            mode="indeterminate"
            bind-diameter="20"
    >
    </mat-progress-spinner>



    <app-article
            mat-list-item
            *ngFor="let article of articlesToDisplay"
            bind-articleToSendDownName="article"
    ></app-article>
    <!--
        "You can add mat-list-item as the directive to your app-car-item component..."
        https://stackoverflow.com/questions/58477720/how-to-use-in-angular-material-list-an-item-component
        -->
    <mat-card class="spacing"
              *ngIf="articlesCount > 3"
    >
        <!-- BOTTOM CATEGORY BUTTONS ROW
        Magic number of '3' (kinda arbitrary) -
        Only show bottom repeat buttons row
         if there are 4 or more Articles in this Category...
        -->
        <mat-card-subtitle>
            <span>Count (ALL Articles): {{ articlesCountAllInCollection }}</span>
            |
            <span>Showing: Articles: 1 - {{ articlesRetrievedNumber }}</span>
        </mat-card-subtitle>
        <mat-card-content>
            <div>
                <h2>{{ articlesInCategoryWhichCategory }} <span class="tiny">Count: {{ articlesCount }}</span></h2>
            </div>
            <span
                    *ngFor="let oneCategory of categories"
            >
                <button
                        mat-raised-button
                        color="{{ oneCategory.viewValue === articlesInCategoryWhichCategory ? 'accent' : 'primary' }}"
                        type="button"
                        class="my-smaller-button"
                        on-click="letUsFilterByCategory(oneCategory.viewValue)"
                >
                    {{ oneCategory.viewValue }}
                </button> |
            </span>
            <!-- Couple of necessary exception-case manual entries: -->
            <button
                    mat-raised-button
                    color="{{articlesInCategoryWhichCategory === 'No Category Assigned' ? 'accent' : ''}}"
                    type="button"
                    class="my-smaller-button"
                    on-click="letUsFilterByCategory('No Category (thx Service!)')"
            >
                No Category Assigned
            </button>
            <!-- re: above
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
const NO_CATEGORY         = 'No Category (thx Service!)';
const NO_CORRECT_CATEGORY = 'No Correct Category (thx Service!)';
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
            -->
            |
            <button
                    mat-raised-button
                    color="{{articlesInCategoryWhichCategory === 'ALL Categories' ? 'accent' : ''}}"
                    type="button"
                    class="my-smaller-button"
                    on-click="letUsFilterByCategory('ALL')"
            >
                <i>All Categories</i>
            </button>
            |
            <button
                    mat-raised-button
                    color="warn"
                    type="button"
                    class="my-smaller-button"
                    on-click="getArticlesLoadMore(offsetNumber, false, 'COMPONENT_OVERRIDE')"
                    bind-disabled="loadNoMore"
            >
                <strong> >> Load More << </strong>
            </button>
        </mat-card-content>
    </mat-card>

</mat-nav-list>
