<div [ngClass]="{'dark-theme': isThemeDarkInApp}">
  <mat-sidenav-container>
<!--  Hmm, seem to be learning
this 'mat-app-background' (below) is NOT needed.
I guess that is the story when we have the
'dark-theme' biz up above ... ?
Appears that w. Material Design
you automatically either get:
background-color: '#fafafa' (light)
background-color: '#303030' (dark)
-->
    <!--  <mat-sidenav-container class="mat-app-background">-->
  <mat-sidenav>
    <p>this is the sidenav</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>ahoy there</p>
    <button mat-button color="primary">regular, primary</button>
    <button mat-raised-button color="accent">raised, accent button!</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

</div>
