<div class="component-label">SIDENAV-LIST.COMPONENT</div>
<mat-nav-list role="navigation">
    <a
            mat-list-item
            routerLink="/"
            on-click="myCloseSidenav()"
    >
        <mat-icon>face</mat-icon>
        <span>Home</span>
    </a>
    <mat-list-item>
        <a
                routerLink="/articles"
                [state]="{data: {
                            articleMostRecentHideRouterLinkState: false
                            }}"
                on-click="myCloseSidenav()"
        >
            <mat-icon>wysiwyg</mat-icon>
            <span>Articles</span></a>
    </mat-list-item>
    <mat-list-item>
        <a
                routerLink="/articles/list"
                [state]="{data: {
                            articleMostRecentHideRouterLinkState: true,
                            articleListOnArticlesListPage: true
                            }}"
                on-click="myCloseSidenav()"
        >
            <mat-icon>toc</mat-icon>
            <span>Articles List</span></a>
    </mat-list-item>
    <mat-list-item>
        <a
                routerLink="/articles/add"
                [state]="{data: {
                            articleMostRecentHideRouterLinkState: true
                            }}"
                on-click="myCloseSidenav()"
        >
            <mat-icon>note_add</mat-icon>
            <span>Add Article</span></a>
    </mat-list-item>
    <mat-list-item>
        <mat-slide-toggle
                on-change="onThemeChange($event.checked)"
        ></mat-slide-toggle>
    </mat-list-item>
</mat-nav-list>

