<div class="component-label">CATEGORIZER-TWO.COMPONENT</div>
<mat-card
        class="spacing"
        *ngIf="!((topOrBottomInput === 'bottom') && (articlesCountInput < 4))"
>
    <!-- TODONE "Top" v. "Bottom" (cf. PaginatorComponent)
        For the BOTTOM CATEGORIZER COMPONENT
        Magic number of '4' (kinda arbitrary) -
        - Only show bottom repeated row of buttons
        if there are 4 or more Articles in this Category...
    -->
    <mat-card-subtitle>
        <span>Count (All Articles): {{ articlesCountAllInCollectionInput }}
        </span>
        |
        <span>Retrieved: Articles 1 - {{
            ( (offsetNumberInput - offsetPageSizeInCategorizer) >= articlesCountAllInCollectionInput)
                ? articlesCountAllInCollectionInput
                : (offsetNumberInput - offsetPageSizeInCategorizer) }}
        </span>
    </mat-card-subtitle>
    <mat-card-content>
        <div>
            <!-- Below, kind of just showing off (sorta)
            We use <h1> on TOP Categorizer, and <h3> on BOTTOM Categorizer.
            Also "teeny" vs. "tiny".  Just for demo purpose & Etc.
            -->
            <span
                    *ngIf="topOrBottomInput === 'top'"
            >
            <h1>{{ articlesInCategoryWhichCategoryInput }}
                <span class="tiny">Category count: {{ articlesCountInput }}
                </span>
            </h1>
            </span>
            <span
                    *ngIf="topOrBottomInput === 'bottom'"
            >
            <h3>{{ articlesInCategoryWhichCategoryInput }}
                <span class="teeny">Category count: {{ articlesCountInput }}
                </span>
            </h3>
            </span>
        </div>
        <span
                *ngFor="let oneCategory of categories"
        >
           <!-- span wrapper allows that following '|' to be part of each displayed bit  -->
            <button
                    mat-raised-button
                    color="{{ oneCategory.viewValue === articlesInCategoryWhichCategoryInput ? 'accent' : 'primary' }}"
                    style="{{ oneCategory.viewValue === articlesInCategoryWhichCategoryInput ? 'cursor: none;' : 'cursor: pointer;' }}"
                    type="button"
                    class="my-smaller-button"
                    on-click="emitCategoryViewValueSelected(oneCategory.viewValue)"
            >
<!--  "About that red squiggle..."
(That WebStorm IDE places beneath the "?" in the ternary conditional statement above.)

Q. What's up with that?
A. I believe it's benign.
To get the active Category button un-clickable or at least appearing to be so...
01. NOPE:
Too strong. "Works," but unacceptable. Color turns gray.
disabled="{{ oneCategory.viewValue === articlesInCategoryWhichCategory }}"

02. OK:
Odd. Works, but WebStorm IDE "complains" w. red squiggle under the ternary "?". Hmm.
"Good enough."
style="{{ oneCategory.viewValue === articlesInCategoryWhichCategory ? 'cursor: none;' : 'cursor: pointer;' }}"
-->
                {{ oneCategory.viewValue }}
            </button>
            |
        </span>
        <!-- Couple of necessary exception-case manual entries: -->
        <button
                mat-raised-button
                color="{{articlesInCategoryWhichCategoryInput === 'No Category Assigned' ? 'accent' : ''}}"
                type="button"
                class="my-smaller-button"
                on-click="emitCategoryViewValueSelected('No Category (thx Service!)')"
        >
            No Category Assigned
        </button>
        |
        <button
                mat-raised-button
                color="{{articlesInCategoryWhichCategoryInput === 'All Categories' ? 'accent' : ''}}"
                type="button"
                class="my-smaller-button"
                on-click="emitCategoryViewValueSelected('ALL')"
        >
            <i>All Categories</i>
        </button>
        |
        <button
                mat-raised-button
                color="warn"
                type="button"
                class="my-smaller-button"
                on-click="emitCallGetArticlesLoadMore(offsetNumberInput)"
                bind-disabled="loadNoMoreInput"
        >
            <strong> >> Load More << </strong>
        </button>

        <!-- Pretty crazy.
        We show/hide message below in 2 divs, depending:
        - For both divs, yeah, if noArticlesInCategory then we want to show...
        - 2nd test though is: Are we at end of ALL Articles? "loadNoMore"
        We have different message if we've exhausted entire Articles Collection,
        vs. if we are still able to "Load More" and thus keep looking for
        your Category.
        cheers.
        -->
        <div
                *ngIf="noArticlesInCategoryInput && !loadNoMoreInput"
                style="margin: 15px 0px 15px 15px;"
        >
            No articles (so far) in the "{{noArticlesInCategoryWhichCategoryInput}}" category. <span on-click="emitCallGetArticlesLoadMore(offsetNumberInput)" style="cursor: pointer; color: #00B7FF;">Load More</span>, or consider <a routerLink="../add">Adding</a> one!
        </div>
        <div
                *ngIf="noArticlesInCategoryInput && loadNoMoreInput"
                style="margin: 15px 0px 15px 15px;"
        >
            No articles (whatsoever!) in the "{{noArticlesInCategoryWhichCategoryInput}}" category. Consider <a routerLink="../add">Adding</a> one!
        </div>

        <mat-progress-spinner
                *ngIf="myUIIsLoadingStore$ | async"
                mode="indeterminate"
                bind-diameter="20"
        ></mat-progress-spinner>

    </mat-card-content>
</mat-card>
