<div class="component-label">FOOTER.COMPONENT</div>
<footer>
    <mat-toolbar color="accent"
                 fxLayout
                 fxLayoutAlign="center center"
    >
            <p style="font-size: xx-small">SomeTimes 2020</p>

        <!--
        TODO: Footer Links to pages like "About", "Contact Us" & similar ... t.b.d.
        -->

<!-- WORKED. LOVELY. No longer need this fun button.
       <button
               mat-raised-button
               color="primary"
               on-click="goToTop()"
       >Go to top y not</button>
-->

    </mat-toolbar>
</footer>
