<div class="component-label">SCROLL-TOP.COMPONENT</div>
<!--Scroll to top-->
<!--<div class="show-scrollTop">-->
<!--<div class="position-scrollTop">-->
<!--<div class="position-scrollTop show-scrollTop">-->


    <div class="position-scrollTop"
         [ngClass]="{'show-scrollTop': myWindowScrolled}">


<!--    <div>SCROLL TO TOP COMPONENT IS IN THE HOUSE</div>-->
            <button mat-raised-button color="accent" on-click="myScrollToTop()">
                <mat-icon>arrow_circle_up</mat-icon>
                {{scrollOffsetWeJustGotToDisplay}}
            </button>
<!-- Yeah, "mat-list" was not needed here:
        <mat-list>
            <mat-list-item>
                <button mat-raised-button color="accent" on-click="myScrollToTop()">
                    <mat-icon>arrow_circle_up</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
-->
</div>
