<div class="component-label"
     fxLayout="column">ARTICLE-DETAIL.COMPONENT</div>

<!--<div *ngIf="articleAsObservableHereInDetailPage$">-->
<!--<div *ngIf="articleAsOneItemArrayHereInDetailPage">  Apparently not needed! << WAAL no. -->
<!--<div>-->
<div *ngIf="articleHereInDetailPage">
    <!--
    <h3>{{articleHereInDetailPage.articleTitle_name}}</h3>

    OBJECT for article, not array for article:
-->
    <mat-card
            *ngIf="!areWeEditing"
    >
        <mat-card-title>
            {{ articleHereInDetailPage.articleTitle}}
        </mat-card-title>
        <mat-card-subtitle>
            DISPLAY: {{ articleHereInDetailPage.articleUrl}} |
            {{urlHereToSeeWhetherEditingObservable$ | async}}
            <!--
            5b01e393b810e02daf607239/edit
            -->
        </mat-card-subtitle>
        <mat-card-content>
            {{ articleHereInDetailPage.articleTitle}}
        </mat-card-content>
    </mat-card>


    <!--
    <h3>{{articleHereInDetailPage.articleTitle_name}}</h3>

    OBJECT for article, not array for article:
-->
    <mat-card
            *ngIf="areWeEditing"
    >
        <mat-card-title>
            {{ articleHereInDetailPage.articleTitle}}
        </mat-card-title>
        <mat-card-subtitle>
            EDITING: {{ articleHereInDetailPage.articleUrl}} |
            {{urlHereToSeeWhetherEditingObservable$ | async}}
            <!--
            5b01e393b810e02daf607239/edit
            -->
        </mat-card-subtitle>
        <mat-card-content>
            {{ articleHereInDetailPage.articleTitle}}
        </mat-card-content>
    </mat-card>
<!--
    <div>
        {{articleHereInDetailPage}} [object Object]
    </div>
-->
<!-- OK but does not get MatDes font; plain serif Times.
    <div>
        {{articleHereInDetailPage.articleTitle}}
    </div>
-->
<!--        No:
{{articleHereInDetailPage.articleTitle_name}}-->

    <!--
    <h3>ONE {{articleAsObservableHereInDetailPage$ | async}}</h3>
    [object Object]
-->

    <!--
        <h3>TWO {{articleAsObservableHereInDetailPage$.articleTitle | async}}</h3>

        TS2339: Property 'articleTitle' does not exist on type 'Observable<Object>'.
    -->
<!--
    <h3>THREE {{articleAsObservableHereInDetailPage$ | async}}.articleTitle</h3>
-->
<!--    WORKS FINE (but does not need to be <li>)
<div>
        <ul>
            <li *ngFor="let theOne of articleAsOneItemArrayHereInDetailPage">
&lt;!&ndash;with _name|                {{ theOne.articleTitle_name}}&ndash;&gt;
                {{ theOne.articleTitle}}
            </li>
        </ul>
    </div>
-->
<!-- NO NO WAY
    <mat-card
            *ngFor="let theArticle of articleAsObservableHereInDetailPage$ | async"
    >
        <mat-card-title>
         $OBS   {{ theArticle.articleTitle}} $OBS2 {{articleAsObservableHereInDetailPage$ | async}}
        </mat-card-title>
        <mat-card-subtitle>
            {{ theArticle.articleUrl}}
        </mat-card-subtitle>
        <mat-card-content>
&lt;!&ndash;            {{ theArticle.articleTitle}}&ndash;&gt;
        </mat-card-content>
    </mat-card>

-->
    <!--  ***** NOT USING "Array" (!)  ***** -->
<!--
    <mat-card
            *ngFor="let theOne of articleAsOneItemArrayHereInDetailPage"
    >
        <mat-card-title>
         ARRAY   {{ theOne.articleTitle}}
        </mat-card-title>
        <mat-card-subtitle>
            {{ theOne.articleUrl}} | URL HERE$ etc.
{{urlHereToSeeWhetherEditingObservable$ | async}}
            &lt;!&ndash;
            5b01e393b810e02daf607239edit
            &ndash;&gt;
        </mat-card-subtitle>
        <mat-card-content>
            <div *ngIf="areWeEditing">
                EDITING!
            </div>
            {{ theOne.articleTitle}}
            {{ theOne.articleTitle}}
            {{ theOne.articleTitle}}
        </mat-card-content>
    </mat-card>
-->
    <!--  ***** /NOT USING "Array" (!)  ***** -->

    <!-- WORKS FINE
    <div *ngFor="let theOne of articleAsOneItemArrayHereInDetailPage">
        {{ theOne.articleTitle}}
    </div>
-->

</div>
