<div class="component-label">ARTICLE-DETAIL-TWO.COMPONENT</div>
<!-- FINDING
Even though I use this class "component-label" to Show/Hide this developer info
(see /src/styles.scss)
when I had an 'fxLayout' attribute in the div element,
the element would still SHOW (not be Hidden).
Curious.
Guess the presence of something 'truthy' (?) affecting
the resultant CSS (namely an "FX" directive or whatever
they're called) makes the element, in the end,
(after all the "cascading") to be visible,
despite my CSS indicating: display: none; // << Got overwritten/cascaded, would seem.
cheers.
-->
<!-- NOPE. This was not hiding, owing to the FX biz. See comment above.
<div class="component-label"
     fxLayout="column">ARTICLE-DETAIL-TWO.COMPONENT</div>
-->

<!--<div *ngIf="articleAsObservableHereInDetailPage$">-->
<!--<div *ngIf="articleAsOneItemArrayHereInDetailPage">  Apparently not needed! << WAAL no. -->
<!--<div>-->
<div
        *ngIf="articleHereInDetailPage"
        fxLayout="column"
>
    <!--
    <h3>{{articleHereInDetailPage.articleTitle_name}}</h3>

    OBJECT for article, not array for article:
-->

    <!-- **************   1.  DISPLAY   ************** -->
    <mat-card
            *ngIf="!(areWeEditingObservable$ | async)"
    >
        <div class="component-label">*DISPLAY* - (ARTICLE-DETAIL-TWO)</div>
        <!--
            <mat-card
                    *ngIf="!areWeEditing"
            >
        -->
        <mat-card-title>
            {{ articleHereInDetailPage.articleTitle}}
        </mat-card-title>
        <mat-card-subtitle>
<!--
            DISPLAY: {{ articleHereInDetailPage.articleUrl}} |
            {{urlHereToSeeWhetherEditingObservable$ | async}}

Yes:            5b01e393b810e02daf607239/edit
            -->
        </mat-card-subtitle>
        <mat-card-content>
            <div>
                <a href="{{ articleHereInDetailPage.articleUrl }}" target="_blank">{{ articleHereInDetailPage.articleUrl }}</a>
            </div>
            <div>News Category: {{ articleHereInDetailPage.articleCategory }}
<!--                <div>News Category: w-i-p {{ selectedCategoryToEdit.viewValue }}-->
                <!-- Would appear this was a poor choice of data source for interpolating the
                Category and its ".viewValue" ("selectedCategoryToEdit").
                Let's improve on that. Let's go with the "articleHereInDetailPage", once we do
                update it with the proper Category ".value" (?) and ".viewValue" for the
                scenario when the BE Article has **NO** Category property.
                WUL.
                TODO get viewValue to appear here in DISPLAY part. {{ selectedCategoryToEdit.viewValue }} --> </div>

            <p class="tiny">
                Article added: {{ myFormattedStringDateFromObjectId(articleHereInDetailPage._id) }}
                    <!--
      "FORMATTED"        Thu August 20th, 2020
      "FULL"             Thu Aug 20 2020 18:14:22 GMT-0400 (Eastern Daylight Time)
      "FULL" | date      Aug 20, 2020
                    -->
<!--  ***  re: DATE FORMATS   ***
2020-08-20        // << Perennial WR__ fave.
August 20th, 2020 // << Y NOT. My "Formatted". cheers
August 20, 2020
Aug 20, 2020      // << Angular pipe: | date
Thu Aug 20 2020
Thu Aug 20 2020 18:14:22 GMT-0400 (Eastern Daylight Time) // << FULL
-->

                <!-- NOT GREAT with Material Design "Dark" Theme. sigh.
                               style="background-color: aliceblue"
                -->
            </p>
            <p class="teeny">
                Article ID #: {{ articleHereInDetailPage._id }}
            </p>

        </mat-card-content>
    </mat-card>


    <!--
    <h3>{{articleHereInDetailPage.articleTitle_name}}</h3>

    OBJECT for article, not array for article:
-->
    <!-- **************   2.  EDITING   ************** -->
<!--    <mat-card>-->
<!-- TODONE: Put back in this IF logic. Kept out now for debug etc. -->
    <mat-card
            *ngIf="areWeEditingObservable$ | async"
    >

        <div class="component-label">*EDITING* &lt;FORM&gt; - (ARTICLE-DETAIL-TWO)</div>

        <!--
            <mat-card
                    *ngIf="areWeEditing"
            >
        -->
        <mat-card-title>
            {{ articleHereInDetailPage.articleTitle}}
        </mat-card-title>
        <mat-card-subtitle>
<!--            EDITING: {{ articleHereInDetailPage.articleUrl}} |-->
<!--            {{urlHereToSeeWhetherEditingObservable$ | async}}-->
            <!-- Yes:
            5b01e393b810e02daf607239/edit
            -->
        </mat-card-subtitle>
        <mat-card-content>
            <!--            {{ articleHereInDetailPage.articleTitle}}-->
<!--            <p>*******   REACTIVE FORM EDITING   *********</p>-->
            <form
                    bind-formGroup="editArticleFormGroup"
                    on-ngSubmit="processReactiveFormEdit()"
                    enctype="multipart/form-data"
                    fxLayout="column"
                    fxLayoutGap="10px"
            >
                <mat-form-field>
                    <mat-label>Label for Title EDITING</mat-label>
                    <input
                            type="text"
                            matInput

                            appInputFocus
                            formControlName="articleTitle_formControlName"
                            [errorStateMatcher]="myOwnErrorStateMatcher"
                    >
                    <!--
                    NOPE:               bind-formControlName="'articleTitle_formControlName'"
                    NOPE:                    formControlName="'articleTitle_formControlName'"

                    Hmm, for EDIT mode? hmm       placeholder="placey title EDIT"-->
                    <mat-hint>
                        Hint for Title EDITING
                    </mat-hint>
                    <mat-error>
                        Error for Title EDITING: 10 chars pls! btw you typed/pasted {{ myHowManyCharsTyped('articleTitle_formControlName')}} of /10
                    </mat-error>
                    <!-- But it DID WORK, to get that value of '20' over from ArticleAddComponent. cheers
                                        <mat-error>
                                            Error for Title EDIT: 10 chars pls! btw you typed/pasted {{ myOwnCategoriesEnumLikeClass.myHowManyCharsTypedFromEnumLikeClass()}} of /10
                                        </mat-error>
                    -->
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        Label for URL EDITING
                    </mat-label>
                    <input
                            type="text"
                            matInput
                            formControlName="articleUrl_formControlName"
                            [errorStateMatcher]="myOwnErrorStateMatcher"
                    >
                    <mat-hint>
                        Hint for URL EDITING
                    </mat-hint>
                    <mat-error>
                        Error for URL EDITING (didn't match our RegEx! solly!)
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        Label for Category EDITING
                    </mat-label>
                    <!--
                    https://v9.material.angular.io/components/select/api#MatSelect
                      Hmm. https://medium.com/@kastepanyan24/how-to-set-selected-option-dynamically-in-angular-6-85c99958cca5
                      [compareWith]
                      https://angular.io/api/forms/SelectControlValueAccessor#customizing-option-selection
                    -->
                    <mat-select
                            formControlName="articleCategory_formControlName"
                            bind-compareWith="myCompareOptionCategoryValues"
                            [errorStateMatcher]="myOwnErrorStateMatcher"
                    >
                        <mat-option
                                *ngFor="let category of categories"
                                bind-value="category.value"
                        >
                            {{ category.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>
                        Hint for Category EDITING
                    </mat-hint>
                    <mat-error>
                        Error for Category EDITING
                    </mat-error>
                </mat-form-field>
                <p class="tiny">
                    Article added: {{ myFullDateFromObjectId(articleHereInDetailPage._id) }}
                    <!--
      "FORMATTED"        Thu August 20th, 2020
      "FULL"             Thu Aug 20 2020 18:14:22 GMT-0400 (Eastern Daylight Time)
      "FULL" | date      Aug 20, 2020
                    -->
                </p>
                <p class="teeny">
                    Article ID #: {{ articleHereInDetailPage._id }}
                </p>

                <div
                        fxLayout="column"
                        fxLayoutAlign="center center"
                >
                    <!--
                                <button
                                        type="submit" mat-raised-button
                                        color="accent"
                                        style="width: 6em;"
                                        bind-disabled="!addArticleFormGroup.valid"
                                >
                    &lt;!&ndash;                <mat-icon>note_add</mat-icon>&ndash;&gt;
                                    <span style="margin-left: 5px;">Post!</span>
                                </button>
                    -->
                    <button
                            mat-icon-button
                            type="submit"
                    >
                        <!-- TODO Hide that button while spinner appears
                            bind-disabled="!editArticleFormGroup.valid"
                            *ngIf="!(myUIIsLoadingStore$ | async)"
                            *ngIf="myUIIsLoadingStore$ | async"
                        -->
                        <mat-icon>note_add</mat-icon>
                        <span style="margin-left: 5px;" class="tiny">Update Your Article</span>
                        <!--
                        This TERNARY logic works, but, isn't needed. This whole FORM is already in "areWeEditing === true" mode. cheers
                        {{areWeEditing ? 'Update' : 'Post'}} Your Article
                        -->
                    </button>
                    <!--
                          TODO      <mat-progress-spinner
                                        mode="indeterminate"

                                >
                                </mat-progress-spinner>
                    -->
                    <div>
                        <button
                                mat-raised-button
                                color="warn"
                                type="button"
                                on-click="letUsDelete()"
                        >
                            Delete Article
                        </button>
                        <button
                                mat-raised-button
                                color="accent"
                                type="button"
                                on-click="letUsCancelEditing()"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
<!--            <p>*******   /REACTIVE FORM EDITING  *********</p>-->

            <div
                    *ngIf="displayTemplateDrivenForm"
            >

            <p>*******   TEMPLATE-DRIVEN FORM EDITING  *********</p>
            <form
                ref-myTemplateDrivenForm_ref="ngForm"
                on-ngSubmit="processTemplateDrivenFormEdit(myTemplateDrivenForm_ref.value)"
                enctype="multipart/form-data"
                fxLayout="column"
                fxLayoutGap="10px"
            >
                <mat-form-field>
                    <mat-label>TD Label Title</mat-label>
                    <input
                            matInput
                            type="text"
                            bind-ngModel="tdArticle.articleTitle_name"
                            name="articleTitleNameInTemplate"
                    >

                    <!-- RECOLLECT:
                            https://blog.thoughtram.io/angular/2016/10/13/two-way-data-binding-in-angular-2.html
        [(ngModel)]
        syntactic sugar for:
          bind-value="theArticleHereInDetailPage.articleTitle"
          on-input="theArticleHereInDetailPage.articleTitle = $event.target.value"
          OR:
        [value]=...
        (input)=...
          OR:
         [(ngModel)]=...
        -->
                    <!--
                             1. bind-ngModel="tdArticle.articleTitle_name" // << YES
                             2. bind-value="tdArticle.articleTitle_name" // << NOPE
                             # 2. does SHOW the value, but, it does not get processed with
                             the form etc. ... Cheers
                    -->
                    <!--
                    Worked: if you do want bi-directional...
                    If, as you edit, you wish to see it also
                    rendered immediately to the page, too.
                    Not really such a great idea, but, flashy.
      on-input="tdArticle.articleTitle_name = $event.target.value"
                    WHOA LOOKEE: {{ tdArticle.articleTitle_name }}

                      value="Test Article Title Value"
                    -->
                    <mat-hint>TD Hint Title</mat-hint>
                    <mat-error>TD Error Title</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>TD Label Category</mat-label>
                    <mat-select
                            [(ngModel)]="tdArticle.articleCategory_name"
                            bind-compareWith="myCompareOptionCategoryValues"
                            name="articleCategoryNameInTemplate"
                    >
                        <!--
             can't beat 'em join 'em. [(ngModel)] y not sez I
             WAS: bind-ngModel="tdArticle.articleCategory_name"
                        -->
                        <mat-option
                                *ngFor="let category of categories"
                                bind-value="category.value"
                        >
                            {{ category.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>TD Hint Category</mat-hint>
                    <mat-error>TD Error Category</mat-error>
                </mat-form-field>
                <div>
                    TD (hard-coded) CATEGORY: {{ tdArticle.articleCategory_name }}
                </div>


                <button
                        mat-raised-button
                        color="primary"
                        type="submit"
                >
                    SUBMIT Template-Driven Form
                </button>
                <button
                        mat-raised-button
                        color="accent"
                        type="button"
                        on-click="myTemplateDrivenForm_ref.reset()"
                >
                    RESET Template-Driven Form
                </button>
            </form>
            <p>*******   /TEMPLATE-DRIVEN FORM EDITING  *********</p>
            </div>

        </mat-card-content>
    </mat-card>

    <div
            *ngIf="displayReactiveFormSelectFormControlComponent"
    >
    <!--    <mat-card>-->
    <!-- TODONE: Put back in this IF logic. Kept out now for debug etc. -->
        <mat-card
            *ngIf="areWeEditingObservable$ | async"
        >
            <p>******* DROP IN HERE:  *COMPONENT* REACTIVE FORM SELECT FORM CONTROL - EDITING  *********</p>
            <div class="component-label"
                 fxLayout="column">*EDITING* &lt;FORM&gt; - (REACTIVE-FORM-SELECT-FORM-CONTROL)</div>
            <mat-card-title>{{ articleHereInDetailPage.articleTitle }}</mat-card-title>
            <mat-card-content>

                <app-reactive-form-select-form-control
                        bind-articlePassedInName="articleHereInDetailPage"
                ></app-reactive-form-select-form-control>

            </mat-card-content>
            <p>*******   /*COMPONENT* REACTIVE FORM SELECT FORM CONTROL - EDITING  *********</p>
        </mat-card>
    </div>





    <!--
        <div>
            {{articleHereInDetailPage}} [object Object]
        </div>
    -->
    <!-- OK but does not get MatDes font; plain serif Times.
        <div>
            {{articleHereInDetailPage.articleTitle}}
        </div>
    -->
    <!--        No:
    {{articleHereInDetailPage.articleTitle_name}}-->

    <!--
    <h3>ONE {{articleAsObservableHereInDetailPage$ | async}}</h3>
    [object Object]
-->

    <!--
        <h3>TWO {{articleAsObservableHereInDetailPage$.articleTitle | async}}</h3>

        TS2339: Property 'articleTitle' does not exist on type 'Observable<Object>'.
    -->
    <!--
        <h3>THREE {{articleAsObservableHereInDetailPage$ | async}}.articleTitle</h3>
    -->
    <!--    WORKS FINE (but does not need to be <li>)
    <div>
            <ul>
                <li *ngFor="let theOne of articleAsOneItemArrayHereInDetailPage">
    &lt;!&ndash;with _name|                {{ theOne.articleTitle_name}}&ndash;&gt;
                    {{ theOne.articleTitle}}
                </li>
            </ul>
        </div>
    -->
    <!-- NO NO WAY
        <mat-card
                *ngFor="let theArticle of articleAsObservableHereInDetailPage$ | async"
        >
            <mat-card-title>
             $OBS   {{ theArticle.articleTitle}} $OBS2 {{articleAsObservableHereInDetailPage$ | async}}
            </mat-card-title>
            <mat-card-subtitle>
                {{ theArticle.articleUrl}}
            </mat-card-subtitle>
            <mat-card-content>
    &lt;!&ndash;            {{ theArticle.articleTitle}}&ndash;&gt;
            </mat-card-content>
        </mat-card>

    -->
    <!--  ***** NOT USING "Array" (!)  ***** -->
    <!--
        <mat-card
                *ngFor="let theOne of articleAsOneItemArrayHereInDetailPage"
        >
            <mat-card-title>
             ARRAY   {{ theOne.articleTitle}}
            </mat-card-title>
            <mat-card-subtitle>
                {{ theOne.articleUrl}} | URL HERE$ etc.
    {{urlHereToSeeWhetherEditingObservable$ | async}}
                &lt;!&ndash;
                5b01e393b810e02daf607239edit
                &ndash;&gt;
            </mat-card-subtitle>
            <mat-card-content>
                <div *ngIf="areWeEditing">
                    EDITING!
                </div>
                {{ theOne.articleTitle}}
                {{ theOne.articleTitle}}
                {{ theOne.articleTitle}}
            </mat-card-content>
        </mat-card>
    -->
    <!--  ***** /NOT USING "Array" (!)  ***** -->

    <!-- WORKS FINE
    <div *ngFor="let theOne of articleAsOneItemArrayHereInDetailPage">
        {{ theOne.articleTitle}}
    </div>
-->

</div>
