<div class="component-label">ARTICLE-ADD.COMPONENT</div>
<!--
Needed above? seems not.
fxLayout="column"
-->
<div
        fxLayout="row wrap"
>
    <mat-card
            fxFlex.lt-md="100%"
            fxFlex="200px"
            style="margin: 0 5px 0 5px;"
    >
        <mat-card-title>
            Add Article
        </mat-card-title>
        <mat-card-subtitle>
            Post a reference to the N.Y. Times  <span class="teeny"> | WIDTH: 200px</span>
        </mat-card-subtitle>
        <mat-card-content>
            <p>Please obtain and fill in:</p>
            <ul>
                <li>Title</li>
                <li>URL</li>
                <li>Category</li>
                <li>Photo(s)</li>
                <ul>
                    <li><i>(optional)</i></li>
                    <li><i>(forthcoming)</i></li>
                </ul>
            </ul>
        </mat-card-content>
    </mat-card>
<!--
Hmm. Seems to have become invisible. O well.

    <mat-divider
            [vertical]="true"
            style="height: 100%; margin: 0 0 0 10px; border-width: thick; border-style: solid;"
    ></mat-divider>
-->

    <mat-card
            fxFlex.lt-md="100%"
            fxFlex="400px"
            style="margin: 0 5px 0 5px;"
    >
        <mat-card-title>N.Y. Times Article</mat-card-title>
        <mat-card-subtitle>Reference Information  <span class="teeny"> | WIDTH: 400px</span></mat-card-subtitle>
        <mat-card-content>
        <form
                bind-formGroup="addArticleFormGroup"
        on-ngSubmit="processReactiveFormAdd()"
                enctype="multipart/form-data"
                fxLayout="column"
                fxLayoutGap="10px"
        >
<!-- Hmm. removing this didn't change things o well. onward. we'll put Multer in after all....

THIS is what drives need for "MULTER" etc.
Going to be WONDERFUL for photo(s) and ALL THAT.
But for NOW, let's try withOUT, hey?
            enctype="multipart/form-data"
-->
            <mat-form-field>
                <mat-label>Label for Title</mat-label>
                <!-- Note re: <input>
                - Below we see:
                formControlName="articleTitle_formControlName" O.K.
                - We do NOT see/use:
                name="articleTitle_name"  Also O.K.

                - With Material Design you do not need (seems)
                the 'name' attribute.

                - However, my BACK-END Server API & Database *does* ultimately require:
    articleToSave.articleUrl = req.body.articleUrl_name
    articleToSave.articleTitle = req.body.articleTitle_name
    /Users/william.reilly/dev/JavaScript/CSCI-E31/Assignments/07-final-CODE-CLEAN-UP/server/controllers/api/api-articleController.js

                - Ergo, I (somewhere) DO need to employ the string 'articleTitle_name', enroute to that Back-End.

                - And, I do so here: prepareToAddArticleReactiveForm() at:
                src/app/articles/article-add/article-add.component.ts:110

                - So in sum, I do NOT need to have
                the 'name' attribute here on the form input. cheers.
                -->
                    <input
                            type="text"
                            matInput
                            placeholder="placey title"
                            appInputFocus
                            formControlName="articleTitle_formControlName"

                            [errorStateMatcher]="myOwnErrorStateMatcher"
                    >
                <!--
                Comment on use of "appInputFocus":
                - It's nice. okay.
                - But it does create this, well, not-so-great situation:
                -- User gets focus on Title field (good). But if user first just clicks *anywhere* else on this whole page,
                the form field turns red and complains & etc. Yeesh.
                - Sigh. Guess we'll keep it in.

                FOCUS:
See shared/input-focus DIRECTIVE
                https://stackoverflow.com/questions/50006888/set-focus-on-input-element
                -->

                <!-- NO.
                You need <input matInput>, not <mat-input>
                (However, see <mat-select> (not <select matSelect>, I believe). Sheesh.)
              <mat-input
                formControlName="articleTitle_formControlName"
              ></mat-input>
                -->
                <mat-hint>
                    Hint for Title. You typed/pasted {{ myHowManyCharsTyped('articleTitle_formControlName')}} of / 10!
                </mat-hint>
                <mat-error>Error for Title: needs to be 10 chars! You typed/pasted {{ myHowManyCharsTyped('articleTitle_formControlName')}} of / 10!</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Label for URL</mat-label>
                <input
                        type="text"
                        matInput
                        formControlName="articleUrl_formControlName"
                        [errorStateMatcher]="myOwnErrorStateMatcher"
                >
                <mat-hint>
                    Hint for URL
                </mat-hint>
                <mat-error>Error for URL (failed our RegEx!)</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Label for Category</mat-label>

                <!--
 YES Works:
       -->
                <mat-select
                        formControlName='articleCategory_formControlName'
                        [errorStateMatcher]="myOwnErrorStateMatcher"
                >

           <!--
    YES Works:
                <mat-select
                        bind-formControl='articleCategory_formControl'
                >
 -->                   <mat-option bind-value="'News'">News</mat-option>
                    <mat-option
                            *ngFor="let category of categories"
                            bind-value="category.value"
                    >
                        {{ category.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-error>Error for Category</mat-error>
            </mat-form-field>

<!-- Button Below Takes Width of Form. Hmm.
Sometimes that's what you want.
Sometimes it isn't. <<<<

Hmm, on other hand, I think you "get"
some stuff for "free"
when using Angular's
ngOnSubmit ...
so, I'll revert to
using it. cheers.
(we wound up controlling width by CSS "hard-coding-ish")
-->
            <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
            >
<!--
            <button
                    type="submit" mat-raised-button
                    color="accent"
                    style="width: 6em;"
                    bind-disabled="!addArticleFormGroup.valid"
            >
&lt;!&ndash;                <mat-icon>note_add</mat-icon>&ndash;&gt;
                <span style="margin-left: 5px;">Post!</span>
            </button>
-->
                <button
                        mat-icon-button
                        type="submit"
                        *ngIf="!(myUIIsLoadingStore$ | async)"
                        bind-disabled="!addArticleFormGroup.valid"
                >
                    <!-- Hide that button while spinner appears
                    -->
                        <mat-icon>note_add</mat-icon>
                        <span style="margin-left: 5px;" class="tiny">Post Your Article</span>
                </button>
                <mat-progress-spinner
                        mode="indeterminate"
                        *ngIf="myUIIsLoadingStore$ | async"
                >
                </mat-progress-spinner>
                <div>
                    <button
                            mat-raised-button
                            color="accent"
                            type="button"
                            on-click="letUsCancelAdding()"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </form>
        </mat-card-content>
            <!--
LOOKED FINE.
But as noted above I
think you "get" some
goodies for "free"
adopting the Angular
ngSubmit, rather than
rolling your own here...

        <div
                fxLayoutAlign="center"
        >
            <button
                    type="button"
                    mat-raised-button
                    on-click="processReactiveFormAdd()"
            >Post!</button>
        </div>
-->
    </mat-card>
    <mat-card
            fxFlex.lt-md="100%"
            fxFlex="610px"
            style="margin: 0 5px 0 5px;"
    >
        <mat-card-title>Recent...</mat-card-title>
        <mat-card-subtitle>Last Article Created <span class="teeny"> | WIDTH: 610px</span></mat-card-subtitle>
<!--     Article Just Created   / <span style="text-decoration: line-through"-->
        <mat-card-content>
            <div>
                <app-article
                    *ngIf="!articleIJustCreatedBoolean"
                    bind-articleToSendDownName="articleMostRecentDisplayFE"
                ></app-article>
            </div>
            <div
              *ngIf="articleIJustCreatedBoolean"
            >
                <app-article
                        bind-articleToSendDownName="articleIJustCreatedDisplayFE"
                ></app-article>
            </div>
        </mat-card-content>
    </mat-card>
</div>
