<div class="component-label">ARTICLE.COMPONENT</div>
<!--
<div>
    <h3 mat-line>
        <a routerLink="/articles/{{articleHere.articleId_name}}">
            {{ articleHere.articleTitle_name }}</a>
    </h3>
    <p mat-line class="tiny">articles/{{articleHere.articleId_name}}</p>
&lt;!&ndash;    <p mat-line>{{ articleHere.articleUrl_name}}</p>&ndash;&gt;
</div>
-->

<!-- Yes but, MatCard on MatList = not so good << ?? -->

<!-- Note: WITHOUT *ngIf test, this was hitting error: articleHere was undefined. cheers. -->
<mat-card
        *ngIf="articleHere"
class="gap-between"
id="{{articleHere.articleId_name}}"
>
    <!--
    (above) id is the # TARGET ANCHOR TAG ID for "jump to in page"
    http://0.0.0.0:4200/#5f11a3ae04e544a462218208 << Yes (grazie al cielo)
    http://0.0.0.0:4200/articles/list/#5afac7603fa7e949fa00a64e  << No ?
    -->
    <mat-card-title
            *ngIf="articleHere"
    >{{ articleHere.articleTitle_name }}</mat-card-title>
    <mat-card-subtitle
            *ngIf="articleHere"
    >Subtitle
        <a routerLink="/articles/{{articleHere.articleId_name}}"
        >{{ articleHere.articleTitle_name }}</a>


        <!-- (below) Not Using: this [state]="{data: {}}}" with routerLink

I thought I needed some special flag/boolean to identify
an Article, coming inside an ArticleDetailComponent, to the
<router-outlet> in the ArticlesComponent.
Nope.
See instead the on-activate property on router-outlet (an EventEmitter). That permits the "Child-to-Parent" communication, via router-outlet, that permits me to flag that
the Child arriving in the router-outlet is an ArticleDetailComponent, and to pass the ID up to the Parent.
I (will) use that ID up on the Parent to create the link to EDIT that ID.
cheers.

        <a routerLink="/articles/{{articleHere.articleId_name}}"
           [state]="{data: {
                            heyHereIsArticleForArticleDetailRouterLinkState: true
                            }}"
        >{{ articleHere.articleTitle_name }}</a>
-->
    </mat-card-subtitle>
    <mat-card-content
            *ngIf="articleHere"
    >
        <p>News Category: {{articleHere.articleCategory_name}}</p> <!-- viewValue: U.S. -->
        <p class="tiny">Article added: {{myDate | date}}</p>
        <p class="teeny">Article ID: {{articleHere.articleId_name}}</p>
        <!-- Yep:
        Tue Jul 14 2020 15:51:12 GMT-0400 (Eastern Daylight Time)
        -->
    </mat-card-content>
</mat-card>
<!-- -->

