<div class="component-label">ARTICLE.COMPONENT</div>
<!--
<div>
    <h3 mat-line>
        <a routerLink="/articles/{{articleHere.articleId_name}}">
            {{ articleHere.articleTitle_name }}</a>
    </h3>
    <p mat-line class="tiny">articles/{{articleHere.articleId_name}}</p>
&lt;!&ndash;    <p mat-line>{{ articleHere.articleUrl_name}}</p>&ndash;&gt;
</div>
-->

<!-- Yes but, MatCard on MatList = not so good << ?? -->
<mat-card
class="gap-between"
>
    <mat-card-title
            *ngIf="articleHere"
    >{{ articleHere.articleTitle_name }}</mat-card-title>
    <mat-card-subtitle
            *ngIf="articleHere"
    >Subtitle
        <a routerLink="/articles/{{articleHere.articleId_name}}">{{ articleHere.articleTitle_name }}</a>
    </mat-card-subtitle>
    <mat-card-content
            *ngIf="articleHere"
    >
        <p class="tiny">Article ID: {{articleHere.articleId_name}}</p>
        <p class="teeny">Article added: {{myDate}}</p>
        <!-- Yep:
        Tue Jul 14 2020 15:51:12 GMT-0400 (Eastern Daylight Time)
        -->
    </mat-card-content>
</mat-card>
<!-- -->

